:root {
  --font-family: "Public Sans", sans-serif;
  --second-family: "LibreBaskerville", sans-serif;
  --content-width: 1152px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --offset: 32px;
  --main-size: 13px;
  --second-size: 15px;
  --light-color: #fff;
  --accent-color: #00a1ff;
  --active-color: #e00e00;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "PublicSans";
  src: url("../fonts/../fonts/PublicSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "LibreBaskerville";
  src: url("../fonts/../fonts/LibreBaskervilleRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: var(--offset);
  -moz-column-gap: var(--offset);
  column-gap: var(--offset);
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  padding: 17px 33px;
  font-size: var(--main-size);
  line-height: 20px;
  letter-spacing: 0.02px;
  text-align: center;
  color: var(--light-color);
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
@media (any-hover: hover) {
  .btn:hover {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
  }
}
.btn:active {
  border-color: var(--active-color);
  background-color: var(--active-color);
}

.btn.focus-visible {
  border-color: var(--active-color);
}

.header {
  padding: 17px 0;
}
.header__container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header--position {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
}

.nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 16px;
}
.nav__list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 32px;
  gap: 51px;
}
.nav__link {
  font-size: var(--main-size);
  color: var(--light-color);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.nav__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--accent-color);
  }
}
.nav__link:active {
  color: var(--active-color);
}

.nav__link.focus-visible {
  outline: 1px solid var(--active-color);
  outline-offset: 3px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 190px;
  padding-bottom: 40px;
  min-height: 776px;
  color: var(--light-color);
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__container {
  margin-bottom: var(--offset);
}
.hero__content {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
@media (max-width: 768px) {
  .hero__content {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
  }
}
.hero__title {
  margin: 0;
  margin-bottom: 29px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 1.2px;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.hero__descr {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.hero__bottom-container {
  margin-top: auto;
  width: 100%;
}
.hero__subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
@media (max-width: 768px) {
  .hero__list {
    row-gap: var(--offset);
  }
}
.hero__item {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}
.hero__link {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 17px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: inherit;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.hero__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .hero__link:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
.hero__link:active {
  border-color: var(--active-color);
  color: var(--active-color);
}

.hero__link.focus-visible {
  border-color: var(--active-color);
}

.steps {
  padding: 120px 0;
  background-color: var(--light-color);
}
.steps__title {
  margin: 0 auto;
  margin-bottom: 57px;
  max-width: 720px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 1.2px;
  text-align: center;
}
@media (max-width: 768px) {
  .steps__title {
    font-size: 24px;
    line-height: 32px;
  }
}
.steps__list {
  counter-reset: steps;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 758px;
}
@media (max-width: 768px) {
  .steps__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: var(--offset);
  }
}
.steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.steps__item::before {
  counter-increment: steps;
  content: counter(steps);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 28px;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: var(--light-color);
  background: #014c48;
}
.steps__item--line {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.steps__item--line::before {
  display: none;
}
.steps__item--line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -35px;
  width: 100%;
  height: 1px;
  background: rgba(53, 83, 98, 0.2);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .steps__item {
    width: 100%;
  }
  .steps__item::after {
    display: none;
  }
}
.steps__descr {
  margin: 0;
  max-width: 142px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: rgba(53, 83, 98, 0.8);
}
@media (max-width: 768px) {
  .steps {
    padding: 60px 0;
  }
}/*# sourceMappingURL=main.css.map */
