<header class="header">
  <div class="container flex">
    <a class="logo">
      <img src="img/logo.svg" alt="Recidiviz Logo" />
    </a>
    <nav class="nav" title="Main navigation">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">States</a></li>
        <li class="nav__item"><a href="#" class="nav__link"></a>Tools</li>
        <li class="nav__item"><a href="#" class="nav__link"></a>People</li>
        <li class="nav__item"><a href="#" class="nav__link"></a>Learn more</li>
        <li class="nav__item"><a href="#" class="nav__link"></a>Donate</li>
      </ul>
      <a href="#" class="nav_link">Log In</a>
    </nav>
  </div>
</header>

""
